@value colors: "../colors.css";
@value primaryColor,primaryColorDarker, primaryColorDarkest, secondaryColor, invertedFontColor, activeColor from colors;

.base {
  border-width: 1px;
  border-style: solid;
  border-color: primaryColorDarker;
  background-color: primaryColor;
  color: invertedFontColor;
  list-style: none;
  display: inline-flex;
  align-items: baseline;
  font-size: 1em;
  padding: 0.5em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}
.base:hover,
.base:focus {
  box-shadow: inset 0 0 3px primaryColorDarker;
  background: primaryColor;
}
.base:active {
  border-color: primaryColorDarkest;
}
